
/* # es para id y . es para clases */


body {
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /*arriba, abajo*/
    align-items: center;

    font-family: Arial;
}

#gameBoard {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 1rem;


}

.message-container p {
    height: 30px;
    margin: 0;
    padding: 10px;
    background-color: lightgrey;
}

.letter{
    width: 100px;
    height: 100px;
    border: 1px solid black;
    border-radius: 0.5rem;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-weight: bold;
}