
/* # es para id y . es para clases */


body {
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /*arriba, abajo*/
    align-items: center;

    font-family: Arial;
}

#gameBoard {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 1rem;


}
.letter{
    width: 100px;
    height: 100px;
    border: 1px solid black;
    border-radius: 0.5rem;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-weight: bold;
}

.message-container p {
    background-color: #818384;
    border-radius: 10px;
    padding: 10px;
    margin: 0;
}

.tile.flip {
    animation: 0.5s linear flipping;
}

.green-overlay {
    background-color: #538d4e !important;
    border:none !important;
}

.grey-overlay {
    background-color: lightgray !important;
    border: none !important;
}

.yellow-overlay {
    background-color: #b59f3a ! important;
    border: none !important;
}