html {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#app {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

#buttonband {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 55px;
    width: 150px;
    align-content: center;
    border: 1px solid black;
    background-color: azure;
}

#myCanvas {
    border: 1px solid black;
    margin-bottom: 0px;
}

button {
    height: 25px;
    margin: 15px;
    border: 1px solid black;
    background-color: gray;
}

button:hover {
    background-color: lightgray;
}

button:active {
    transform: translateY(1px);
}
